{% extends 'layout.html.twig' %}
{% import '_components/index.html.twig' as comp %}

{% block title %}Cours {{ courseName }}{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
        {# CSRF Tokens metadata to be accessed in javascript #}
        <meta name="csrf-token-switch" content="{{ csrf_token('course_activity_pin') }}">
        <meta name="csrf-token-delete" content="{{ csrf_token('course_activity_delete') }}">

        {{ encore_entry_script_tags('course-activity-manager') }}
    {% endif %}
{% endblock %}

{% block aside %}
<aside class="hidden md:block w-64 bg-white rounded-t-2xl shadow-lg p-8 min-h-full shrink-0">
    <div class="mb-4">
        <p class="text-xl font-bold">Table des matières</p>
    </div>

    <div class="space-y-4">
        {% if categories is defined and categories is not empty %}
            {% for category in categories %}
                <div class="space-y-2">
                    <p class="text-sm font-medium">{{ category.title }}</p>
                    {% for ressource in category.resources %}
                        {% if ressource.target is defined and ressource.target is not empty %}
                            <a href="{{ ressource.target }}" class="block px-2 py-0.5 rounded-sm text-sm text-[#37A0C9] hover:text-[#3C7186] hover:bg-[#E2EFF4]">
                                {{ ressource.title }}
                            </a>
                        {% else %}
                            <p class="block px-2 py-0.5 rounded-sm text-sm opacity-80">
                                {{ ressource.title }}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p class="text-sm opacity-80">Cours vide</p>
        {% endif %}
    </div>
</aside>
{% endblock %}

{% block content %}

    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">{{ courseName }}</h1>
        <a href="{{ courseBase }}/members" class="text-sm text-[#37A0C9] hover:text-[#3C7186]">Participants</a>
    </div>

    {% if activities is defined and activities is not empty %}
        <div class="bg-[#E2EFF4] rounded-2xl space-y-2 p-2 mb-4">
            <p class="text-sm font-medium">Activité</p>
            <div class="flex flex-wrap gap-2">
                {% for activity in activities %}
                    <div class="bg-[#ffffff64] rounded-[.5rem] p-4 flex justify-between items-center gap-4 w-full lg:w-[calc(50%-.25rem)]">
                        <div>
                            <p class="font-medium">{{ activity.title }}</p>
                            <p class="text-sm opacity-80">{{ activity.desc }}</p>
                        </div>
                        <a
                                class="block px-3 py-2 bg-[#37A0C9] hover:bg-[#3C7186] text-white rounded-sm"
                                href="{{ activity.target }}"
                        >{{ activity.action }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if pinnedRessources is defined and pinnedRessources is not empty %}
        <div class="bg-[#E2EFF4] rounded-2xl space-y-2 p-2 mb-4">
            <p class="text-sm font-medium">Mis en avant</p>
            <div class="flex flex-wrap gap-2">
                {% for ressource in pinnedRessources %}
                    <div class="bg-[#ffffff64] rounded-[.5rem] p-4 flex justify-between items-center gap-4 w-full lg:w-[calc(50%-.25rem)]">
                        <div>
                            <p class="font-medium">{{ ressource.title }}</p>
                            <p class="text-sm opacity-80">{{ ressource.userDesc }}</p>
                        </div>
                        <a
                                class="block px-3 py-2 bg-[#37A0C9] hover:bg-[#3C7186] text-white rounded-sm"
                                href="{{ ressource.target }}"
                        >{{ ressource.action }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="space-y-4">
        {% if categories is defined and categories is not empty %}
            {% for category in categories %}
                <div class="space-y-2">
                    <div>
                        <p>{{ category.title }}</p>
                        <p class="text-xs opacity-80">{{ category.desc }}</p>
                    </div>
                    {% for ressource in category.resources %}
                        <div class="flex w-full gap-2 items-stretch">
                            {% if ressource.target is defined and ressource.target is not empty %}
                            <a class="contents" href="{{ ressource.target }}">
                                {% endif %}
                                <div class="bg-[#F3F9FB] rounded-[.5rem] p-4 flex justify-between items-center gap-4 grow shrink {{ ressource.type == 'message' ? '' : 'hover:bg-[#37A0C9]/10 cursor-pointer' }}">
                                    <div class="flex gap-2 items-center">
                                        <div class="rounded-md flex items-center justify-center size-[2.625rem] shrink-0 {{ ressource.type == 'message' and ressource.severity != 'info' ? 'bg-amber-100 text-amber-500' : 'bg-[#37A0C9]/10 text-[#3C7186]' }}">
                                            {% if ressource.type == 'message' and ressource.severity is defined %}
                                                {{ comp.severityMessageIcon(ressource.severity) }}
                                            {% else %}
                                                {{ comp.ressourceIcon(ressource.icon, '#3C7186') }}
                                            {% endif %}
                                        </div>
                                        <div>
                                            <p class="font-medium">{{ ressource.title }}</p>
                                            {% if ressource.userDesc is defined %}
                                                <p class="text-sm text-ellipsis line-clamp-2">{{ ressource.userDesc }}</p>
                                            {% endif %}
                                            {% if ressource.content is defined %}
                                                <p class="text-sm">{{ ressource.content }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if ressource.target is defined and ressource.target is not empty %}
                            </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
                                <button class="px-3 py-2 bg-[#E2EFF4] hover:bg-[#37A0C9] hover:text-white rounded-sm cursor-pointer shrink-0">
                                    {{ comp.actionIcon('edit') }}
                                </button>
                                {% if ressource.isPinned %}
                                    <button
                                            class="px-3 py-2 bg-red-100 hover:bg-red-400 hover:text-white rounded-sm cursor-pointer shrink-0"
                                            data-activity-unpin
                                            data-activity-id="{{ ressource.id }}"
                                            data-activity-name="{{ ressource.title }}"
                                    >
                                        {{ comp.actionIcon('unpin') }}
                                    </button>
                                {% else %}
                                    <button
                                            class="px-3 py-2 bg-[#E2EFF4] hover:bg-[#37A0C9] hover:text-white rounded-sm cursor-pointer shrink-0"
                                            data-activity-pin
                                            data-activity-id="{{ ressource.id }}"
                                            data-activity-name="{{ ressource.title }}"
                                    >
                                        {{ comp.actionIcon('pin') }}
                                    </button>
                                {% endif %}
                                <button
                                        class="px-3 py-2 bg-red-100 hover:bg-red-400 hover:text-white rounded-sm cursor-pointer shrink-0"
                                        data-activity-delete
                                        data-activity-id="{{ ressource.id }}"
                                        data-activity-name="{{ ressource.title }}"
                                >
                                    {{ comp.actionIcon('delete') }}
                                </button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p class="text-sm opacity-80">Rien à afficher</p>
        {% endif %}
    </div>

{% endblock %}
