{% extends 'base.html.twig' %}
{% import '_components/index.html.twig' as comp %}

{% block title %}Authentification{% endblock %}

{% block body %}
<div class="relative flex items-center justify-center min-h-screen px-4">


    <div class="bg-white rounded-2xl shadow-lg p-8 w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6">Authentification</h1>
        {% if error %}
            {{ comp.errorAlert(error.messageKey|trans(error.messageData, 'security'), 'Erreur') }}
        {% endif %}

        <p class="text-gray-600 mb-8">
            Bienvenu sur le mooodle de {{ 'companyName' }}! Connecte-toi pour accéder au contenu.
        </p>

        <form action="/login" method="POST">
            {{ comp.input('_username', 'Adresse e-mail', 'john@doe.fr') }}

            <div class="mb-4">
                <div class="flex justify-between items-center mb-1">
                    <label for="password" class="block text-sm font-medium text-gray-700">
                        Mot de passe
                    </label>
                    <a href="/forgot-password" class="text-sm text-[#37A0C9] hover:text-[#3C7186]">
                        Mot de passe oublié ?
                    </a>
                </div>
                <input
                        type="password"
                        id="password"
                        placeholder="•••••••••"
                        name="_password"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#37A0C9] focus:border-transparent"
                >
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
            #}

            {{ comp.button('Connexion', 'submit', 'mt-6') }}
        </form>
    </div>
</div>
{% endblock %}
